@import 'tailwindcss';

@config '../tailwind.config.js';

@theme {
    --font-sans: "Roboto", sans-serif;
  
    --color-brand: #0ea5e9;
    --color-brand-dark: #0369a1;
  }

html {
  font-family: var(--font-sans);
}